{% extends 'base.html' %}
{% block content %}
    

<form  class = form-destination method="post" action="/destinations/new">
    <div>
      <label for="country">Country Name</label>
      <select id="country" name="country">
        {% for country  in all_countries %}
        <option value={{country.id}}>{{country.name}}</option>
        {% endfor %}
      
    </div>
  
    <div>
      <label for="continent">Continent </label>
      <select id="continent" name="continent">
      <option value="continent1">Asia</option>
      <option value="continent2">Europe</option>
      <option value="continent3">Australia</option>
    </div>

    <div>
      <label for="city">City </label>
      <select id="city" name="city">
        {% for city  in all_cities %}
        <option value={{city.id}}>{{city.name}}</option>
        {% endfor %}
    </div>
    
    <button type="submit">Add Country to list</button>
  
  </form>   

{% endblock %}