{% extends 'base.html' %}
{% block content %}
    

    
<div class = "destinations-list">
    <table>
        <tr>
        <th>City</th>
        <th>Country</th>
        <th>Continent</th>
        <th>Destination</th>
        </tr>
    {% for destination in all_destinations %}
    <tr>
    <td><p>{{destination.city.name}}</p></td>
    <td><p>{{destination.country.name}}</p></td>
    <td><p>{{destination.country.continent}}</p></td>
   <td><input type="checkbox" unchecked="false"/></td>
    </tr>
    {% endfor %}
    <br>
   

    <!-- <h1>hi</h1>
    {% for country in all_countries %}
    <p>{{country.continent}}</p>
    {% endfor %}
    <p>Visited?</p> -->
</div>
</table>      



{% endblock %}