{% extends 'base.html' %}
{% block content %}

<aside>
<form class = "search" id="form" action="/mybucketlist/search" method = "POST"> 
<input type="text" placeholder="Search.." name="search">
<button type="submit"><i class="fa fa-search"></i></button>
</form>
</aside>

<div class = "destinations-list">
<table>
        <tr>
        <th>City</th>
        <th>Country</th>
        <th>Destination</th>
        </tr>
    {% for destination in all_destinations %}
    {% if not destination.visited %}
    <tr>
    <td><p>{{destination.city.name}}</p></td>
    <td><p>{{destination.country.name}}</p></td>
    <td><p>{{destination.name}}</p></td>
   

    <td>
    <form class="delete-form" action="/mybucketlist/{{destination.id}}/delete" method="POST"> <!-- NEW -->
    <button class="trash-button"><i class="fa fa-trash-o fa" style="color:gray" aria-hidden="true"></i></button>
    </form> 
    </td>
    <td>
    <form action ="/mybucketlist/{{destination.id}}/set/visted" method = "POST">
        <button type="submit" >Set Visted</button>
    </form>
    </td>
    {% endif %}
    </tr>
    {% endfor %}

</table>
</div>


<div class = "destinations-list-1">  
<table>

        <tr>
        <th>City</th>
        <th>Country</th>
        <th>Destination</th>
        </tr>
    {% for destination in all_destinations %}
    {% if destination.visited %}
    <tr>
    <td><p>{{destination.city.name}}</p></td>
    <td><p>{{destination.country.name}}</p></td>
    <td><p>{{destination.name}}</p></td>
    
        
<td>
    <form class="delete-form" action="/mybucketlist/{{destination.id}}/delete" method="POST"> <!-- NEW -->
    <button class="trash-button"><i class="fa fa-trash-o fa" style="color:gray" aria-hidden="true"></i></button>
    </form> 
</td>     
<td>
    <form action ="/mybucketlist/{{destination.id}}/set/not/visted" method = "POST">
        <button type="submit" >Set Not Visited</button>
    </form>

</td>
    {% endif %}
 
</tr>
    {% endfor %}

</table>   
</div>


{% endblock %}
