{% extends 'base.html' %}
{% block content %}
<div class = checklist-table>
<div class = "destinations-list">
    <table>
        <tr>
        <th>City</th>
        <th>Country</th>
        <th>Destination</th>
        </tr>
    {% for destination in all_destinations %}
    {% if not destination.visited %}
    <tr>
    <td><p>{{destination.city.name}}</p></td>
    <td><p>{{destination.country.name}}</p></td>
    <td><p>{{destination.name}}</p></td>
   
    <td>
    <label for="visited">Visited</label>
    <input type="checkbox" name="visited" id="visited" value="False">
    </td>
    {% if destination.visited %}
    <p><i>Visited </i></p>
    {% endif %}
    </td>
<td>
    <form class="delete-form" action="/mybucketlist/{{destination.id}}/delete" method="POST"> <!-- NEW -->
    <button class="trash-button">delete<i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
    </form> 
</td>
</td>
    {% endif %}
    </tr>
    {% endfor %}
</div>
</table>         

<div class = "destinations-list">
    <table>
        <tr>
        <th>City</th>
        <th>Country</th>
        <th>Destination</th>
        </tr>
    {% for destination in all_destinations %}
    {% if destination.visited %}
    <tr>
    <td><p>{{destination.city.name}}</p></td>
    <td><p>{{destination.country.name}}</p></td>
    <td><p>{{destination.name}}</p></td>
    
        
    <td>
        <form>
        <label for="visited">Visited</label>
        <input type="checkbox" name="" id="visited" value="True">
        </td>
        {% if destination.visited %}
        <p><i>Visited </i></p>
        {% endif %}
        <</form>
    </td>
       

    <td>
</td>
<td>
    <form class="delete-form" action="/mybucketlist/{{destination.id}}/delete" method="POST"> <!-- NEW -->
    <button class="trash-button">delete<i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
    </form> 
</td>
    {% endif %}
    </tr>
   
</div>
<form action ="/mybucketlist/{{destination.id}}" method = "POST">
<button type="submit" >Apply Changes</button>
</form>
{% endfor %}
</table>      

</div>

{% endblock %}
