.home-image{
    width:100vw;
    height:100vh;
    background-image: url('/static/pexels-francesco-ungaro-2325446.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
}
.menu{
    display: flex;
    padding: 10px;
    background-color: grey;
    opacity: 0.6;
    color: white;
}

.flex{
    display : flex;
}

.main-row{
    flex-direction: row;
}