.home-image{
    width:100vw;
    height:100vh;
    /* background-image: url('/static/pexels-francesco-ungaro-2325446.jpg'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 60%;
}
.menu{
    display: flex;
    padding: 10px;
    background-color: grey;
    opacity: 0.6;
    color: white;
}
.menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 20px;
  }
.form-destination{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  }
    
.destinations-list{
    display: grid;
    grid-template-columns: auto;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.flex{
    display : flex;
}

.main-row{
    flex-direction: row;
}