<!DOCTYPE html>
<html>
<head>
  <title>Quest Advisor</title>
  <head>
    <link title="stylesheet" href="static/style.css">
  </head>
  <body>
      <main class = "flex main-row">
          <nav>
            <ul>
              <li>
                <a href="/countries">Countries</a>
              </li>
              <li>
                <a href="/cities">Cities</a>
              </li>
              <li>
                <a href="/destinations">Destinations</a>
              </li>
            </ul>
          </nav>     
       </main>
  </body>