<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
		<title>Bucket list</title>
	</head>
	<body>
			<section class = "home-image">
				<h1>TRAVEL BUCKET LIST</h1>
        <header>
				<nav>
					<ul class = "menu">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/mybucketlist">My Bucket List</a>
						</li>
						<li>
							<a href="/destinations">Pin New Destination</a>
						</li>
					</ul>
				</nav>
      </header>
				<article class = "title">find your next travel destination!</article>
	<div class="container">
		{% block content %}
      
    {% endblock  %}
  </div>
  </section>
	</body>
</html>